.Header{
   .headerWrapper{
      display: flex;
      align-items: center;
      padding: 20px 0px;
      position: relative;
      @media(max-width:567px){
         &{
            flex-wrap: wrap;
         }
      }
   }
   .menu{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0px;
      flex-grow: 1;
      @media(max-width:767px){
         &{
            flex-grow: 0;
         }
      }
      .menuItem{
         margin: 0 10px;
      }
      .link{
         color: hsl(257, 7%, 63%);
         padding: 3px;
      }
}
}